@charset "UTF-8";
   div.addWorker { /*кнопка добавления отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 1px;
   }
   div.layer1 {
    position: relative; /* Относительное позиционирование */
    background: #f0f0f0; /* Цвет фона */
    height: 200px; /* Высота блока */
   }
   div.layer2 {  /* кнопка добавить работника*/
    position: absolute; /* Абсолютное позиционирование */
    top: 470px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 1px;
   }

   div.layer3 { /*кнопка добавления отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 190px; /* Положение от нижнего края */
    left: 500px; /* Положение от правого края */
    line-height: 1px;
   }
   div.layer4 { /*кнопка показать таблицу*/
    position: absolute; /* Абсолютное позиционирование */
    top: 500px; /* Положение от нижнего края */
    left: 100px; /* Положение от правого края */
    line-height: 1px;
   }
   
   div.layer5 {  /*вывести таблицу работников*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 440px; /* Положение от правого края */
    line-height: 20px;
   }
   div.layer6 { /*кнопка изменения сотрудника*/
    position: absolute; /* Абсолютное позиционирование */
    top: 470px; /* Положение от нижнего края */
    left: 170px; /* Положение от правого края */
    line-height: 20px;
   }
   
      div.surn { /*поле фамилии*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }
    div.surnINP { /*поле фамилии*/
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;

   }
      div.name { /*поле имя */
    position: absolute; /* Абсолютное позиционирование */
    top: 80px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;

   }
     div.nameINP { /*поле имя */
    position: absolute; /* Абсолютное позиционирование */
    top: 80px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;

   }
      div.patron { /*поле отчество*/
    position: absolute; /* Абсолютное позиционирование */
    top: 110px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
         div.patronINP { /*поле отчество*/
    position: absolute; /* Абсолютное позиционирование */
    top: 110px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   }
      div.workerId { /*поле номер карточки*/
    position: absolute; /* Абсолютное позиционирование */
    top: 140px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
    div.workerIdINP { /*поле номер карточки*/
    position: absolute; /* Абсолютное позиционирование */
    top: 140px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   }
   
    div.typeCard { /*поле тип ключа номера карточки*/
    position: absolute; /* Абсолютное позиционирование */
    top: 170px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
    div.typeCardInp { /*поле тип ключа номера карточки*/
    position: absolute; /* Абсолютное позиционирование */
    top: 170px; /* Положение от нижнего края */
    left: 230px; /* Положение от правого края */
    line-height: 20px;
   }
      div.tablenum { /*поле табельный номер*/
    position: absolute; /* Абсолютное позиционирование */
    top: 200px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.tablenumINP { /*поле табельный номер*/
    position: absolute; /* Абсолютное позиционирование */
    top: 200px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   }  
      div.depart { /*поле отдел*/
    position: absolute; /* Абсолютное позиционирование */
    top: 230px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.departINP { /*поле отдел*/
    position: absolute; /* Абсолютное позиционирование */
    top: 230px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   }   
         div.position { /*поле должность*/
    position: absolute; /* Абсолютное позиционирование */
    top: 260px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.positionINP { /*поле должность*/
    position: absolute; /* Абсолютное позиционирование */
    top: 260px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
      div.sound { /*поле звука при входе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 290px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
      div.soundINP { /*поле звука при входе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 290px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   }   
     div.birth { /*поле дня рождения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 320px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
     div.birthINP { /*поле дня рождения*/
    position: absolute; /* Абсолютное позиционирование */
    top: 320px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
     div.status { /*поле статуса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 350px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
     div.statusINP { /*поле статуса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 350px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
     div.typeWorkingHour { /*поле статуса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 380px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
     div.typeWorkingHourINP { /*поле статуса*/
    position: absolute; /* Абсолютное позиционирование */
    top: 380px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
        div.idInTablePre { /*поле id для измения записи*/
    position: absolute; /* Абсолютное позиционирование */
    top: 410px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
   
     div.idInTable { /*поле id для измения записи*/
    position: absolute; /* Абсолютное позиционирование */
    top: 440px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }
     div.idInTableINP { /*поле id для измения записи*/
    position: absolute; /* Абсолютное позиционирование */
    top: 440px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
   /*Информация об отпусках*/
   
    div.diseaseEdit { /*заголовок для отделов*/
    position: absolute; /* Абсолютное позиционирование */
    top: 550px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

        div.fioEmployeeStr { /*поле названия отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 580px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.fioEmployee { /*поле названия отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 573px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.reasonForAbsenceStr { /*поле ввода типа рабочего времени отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 610px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.reasonForAbsence { /*поле ввода типа рабочего времени отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 602px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
        div.dateBeg { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 640px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
      div.dateBegINP { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 616px; /* Положение от нижнего края */
    left: 217px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.dateFin { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 670px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
      
        div.dateFinINP { /*кнопка добавления нового отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 667px; /* Положение от нижнего края */
    left: 217px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.idInTableDisease { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 700px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.idInTable2Disease { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 730px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.idInTableINPDisease { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 730px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
           div.addDiseaseBut { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 760px; /* Положение от нижнего края */
    left: 70px; /* Положение от правого края */
    line-height: 20px;
   } 
     
             div.showTableDisease { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 790px; /* Положение от нижнего края */
    left: 100px; /* Положение от правого края */
    line-height: 20px;
   } 
     
             div.editDiseaseInfo { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 820px; /* Положение от нижнего края */
    left: 70px; /* Положение от правого края */
    line-height: 20px;
   } 
     
   

 /*информация об отделах*/
     
     div.departEdit { /*заголовок для отделов*/
    position: absolute; /* Абсолютное позиционирование */
    top: 850px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 

        div.nameDep { /*поле названия отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 880px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.departINPWind { /*поле названия отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 880px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.typeWorkTime { /*поле ввода типа рабочего времени отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 910px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.typeWorkHourINPWind { /*поле ввода типа рабочего времени отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 910px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
        div.idDeparInTablePre { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 940px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
      div.idDeparInTable { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 970px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.idInTableDeparINP { /*поле ввода id для изменения записи информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 970px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
      
        div.addDepBut { /*кнопка добавления нового отдела*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1000px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
      div.showTableDepar { /*кнопка вывода таблицы отделов*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1030px; /* Положение от нижнего края */
    left: 40px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.editDeparInfo { /*кнопка изменения информации об отделе*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1000px; /* Положение от нижнего края */
    left: 183px; /* Положение от правого края */
    line-height: 20px;
   } 


	/*информация о типах рабочего времени*/
	
     div.workHourEdit { /*заголовок для типов рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1070px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   }    
     div.workHourEditDop { /*заголовок для типов рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1100px; /* Положение от нижнего края */
    left: 150px; /* Положение от правого края */
    line-height: 20px;
   }
        div.startWorkHour { /*поле для начала рабочего дня*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1130px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.startWorkHourINP { /*поле для начала рабочего дня*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1130px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.finishWorkHour { /*поле для окончания рабочего дня*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1160px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.finishWorkHourINP { /*поле для окончания рабочего дня*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1160px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.dinnerStart { /*поле для начала обеда*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1190px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.dinnerStartINP { /*поле для начала обеда*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1190px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.dinnerFinish { /*поле для окончания обеда*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1220px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.dinnerFinishINP { /*поле для окончания обеда*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1220px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
        div.idWorkHourInTablePre { /*поле ввода id для изменения записи типов рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1250px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
      div.idWorkHourInTable { /*поле ввода id для изменения записи типов рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1280px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.idWorkHourInTableINP { /*поле ввода id для изменения записи типов рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1280px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
      
        div.addWorkHourBut { /*кнопка добавления нового типа рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1310px; /* Положение от нижнего края */
    left: 100px; /* Положение от правого края */
    line-height: 20px;
   } 
      div.showTableWorkHour { /*кнопка вывода таблицы с типами рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1370px; /* Положение от нижнего края */
    left: 75px; /* Положение от правого края */
    line-height: 20px;
   } 
        div.editWorkHourInfo { /*кнопка изменения типа рабочего времени*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1340px; /* Положение от нижнего края */
    left: 70px; /* Положение от правого края */
    line-height: 20px;
   } 
   
   /*Добавить/изменить пользователя*/
   
   div.authorEdit { /*заголовок для добавления и изменения пользователей*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1430px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
   
   div.nameAuthor { /*поле для ввода логина пользователя*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1460px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
  div.nameAuthorINP { /*поле для ввода логина пользователя*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1460px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   div.paswordAuthor { /*поле для ввода пароля пользователя*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1490px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
   div.paswordAuthorINP { /*поле для ввода пароля пользователя */
    position: absolute; /* Абсолютное позиционирование */
    top: 1490px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 
   
   div.roleUserAuthor { /*поле ввода роли пользователя*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1520px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
   div.roleUserAuthorINP { /*поле ввода роли пользователя*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1520px; /* Положение от нижнего края */
    left: 235px; /* Положение от правого края */
    line-height: 20px;
   } 

      
   div.addAuthorBut { /*кнопка добавления нового пользователя*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1550px; /* Положение от нижнего края */
    left: 20px; /* Положение от правого края */
    line-height: 20px;
   } 
   div.showTableAuthor { /*кнопка вывода таблицы пользователями*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1550px; /* Положение от нижнего края */
    left: 192px; /* Положение от правого края */
    line-height: 20px;
   } 
   div.editAuthorInfo { /*кнопка изменения информации о пользователях*/
    position: absolute; /* Абсолютное позиционирование */
    top: 1580px; /* Положение от нижнего края */
    left: 80px; /* Положение от правого края */
    line-height: 20px;
   } 
